---
title: This Is My Blog
layout: layout\base.njk
---
<h2>Latest Blog Post</h2>
<div class="blog-posts-container">
  <ul>
  {% assign latest_post = collections.blogPosts | first %}
  {% if latest_post %}
    <li>
      <a href="{{ latest_post.url }}">
      {{ latest_post.date | date: "%Y-%m-%d" }}: {{ latest_post.data.title }}
      </a>
    </li>
    {% else %}
    <li>No blog posts yet!</li>
  {% endif %}
  </ul>
</div>
These are all of my amazing blog posts, enjoy!
<ul>
  {% for post in collections.blog | reverse %}
  <li>
    <a href="">{{ post.data.title }}</a>
  </li>
  {% endfor %}
</ul>
