<html>
<head>
<style> 
@font-face {
  font-family: LYDIAN;
  src: url(https://smallcypress.neocities.org/css/LYDIAN__.TTF);
}

div {
  font-family: LYDIAN;
}
</style>
</head>
<body>
<div><h1>small cypress</div></h1>

</body>
</html>
