<a href="/">Home</a><img scr"https://smallcypress.neocities.org/images/corydora02.gif">
<a href="/about/">about me</a><img scr="https://smallcypress.neocities.org/images/corydora09.gif">
<a href="/blog/">blog</a><img scr="https://smallcypress.neocities.org/images/corydora01.gif">
<a href="/links/">links</a><img scr="https://smallcypress.neocities.org/images/corydora07%20(1).gif">
