<a href="/">home</a><img src="https://smallcypress.neocities.org/images/corydora02.gif" height="22" width="32">
<a href="/about/">about me</a><img src="https://smallcypress.neocities.org/images/corydora09.gif" height="22" width="32">
<a href="/blog/">blog</a><img src="https://smallcypress.neocities.org/images/corydora01.gif" height="22" width="32">
<a href="/links/">links</a><img src="https://smallcypress.neocities.org/images/corydora07%20(1).gif" height="22" width="32">
