<img src="https://smallcypress.neocities.org/images/corydora02.gif" height="22" width="32">
<img src="https://smallcypress.neocities.org/images/corydora09.gif">
<img src="https://smallcypress.neocities.org/images/corydora01.gif" height="32" width="32">
<img src="https://smallcypress.neocities.org/images/corydora07%20(1).gif" height="32" width="32"><a href="/">home</a>
<a href="/about/">about me</a>
<a href="/blog/">blog</a>
<a href="/links/">links</a>
